@font-face {
    font-family:'Belleza' ;
    src: url(./fonts/belleza/Belleza-Regular.ttf);
}

@font-face {
    font-family:'Cookie' ;
    src: url(./fonts/Cookie-Regular.ttf);
}

:root{
    --bc: #d8d6bc ;
    --font:  #a6a381;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:whitesmoke;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 420px;
    height: 5000px;
    /* border: 1px solid black; */
}
.principal{
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 800px;
    background-image: url(./img/bg-light-2.jpg);
    background-repeat: no-repeat;
   background-size: cover;
     
}



.church{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-self: center;
   margin-top: 120px;
   width: 100px;
   height: 120px;
}
.sonido{
    display: flex;
    align-self: center;
}
.sonido-play{
    height: 50p;
    width: 50px;
    cursor: pointer;
}

.sonido-play:hover{
    animation: vibrate 0.9s infinite;
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  }

.principal h2{
    align-self: center;
    font-family: 'Belleza';
    font-size: 28px;
}

h1{
    font-family: 'Cookie';
    font-size: 72px;
    align-self: center;
    text-align: center;
    margin-top: 100px;
}

.principal p{
    font-family: 'Belleza';
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    margin-top: 60px;

}

.principal .heart{
    width: 50px;
    height: 50px;
    
}

.heart{
    animation: heartbeat 1s infinite;
}
@keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(1.1);
    }
  }

.detalles{
    display: flex;
    flex-direction: column;
    height: 520px;
    width: 420px;
    background-image: url(./img/foto-pareja-edit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.quiero{
    font-family:'Cookie' ;
    font-size: 40px;
    align-self: center;
   

}

.detalles .testigos{
    margin-top: 20px;
    font-family: 'Belleza';
    font-size: 26px;
    align-self: center;
   
}

.detalles2{
    display: flex;
    flex-direction: column;
    height: 490px;
    width: 420px;
    margin-top: 30px;
    
}
.pareja{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    font-family: 'Cookie';
    font-size: 36px;
    
}

.foto-pareja img{
    width: 200px;
    height: 200px;
}
.union{
    padding: 5px;

    width: 60px;
    height: 60px;
    align-self: center;

}
.frase{
    text-align: center;
    line-height: 28px;
    font-family: 'Belleza';
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

#countdown{
    display: flex;
    flex-direction: row;
    background-color: #a6a381;
   
    gap: 20px;
    width: 336px;
    height: 200px;
   
    margin-top: 40px;
    font-family: 'Belleza';
    font-size: 32px;
    text-align: center;
    justify-content: center;
    align-self: center;
    color: white;
    border-radius: 100%;
    padding: 30px;
}

#hours::before{
    content: ":";
    font-size: 32px;
    color: var(--text-white);
    margin-right: 30px;
    
}
#minutes::before{
    content: ":";
    font-size: 32px;
    color: var(--text-white);
    margin-right: 20px;
}
#seconds::before{
    content: ":";
    font-size: 32px;
    color: var(--text-white);
    margin-right: 20px;
}
.time-section{
    display: grid;
    flex-direction: column;
    align-self: center;
    
}
.label{
    justify-self:center
}
.ceremonia{
    width: 420px;
    height: 580px;
    display: flex;
    flex-direction: column;
}
.ceremonia h2{
    font-family: 'Cookie';
    font-size: 48px;
    text-align: center;
    margin-top: 40px;
}

.subtitulo{
    font-family: 'Belleza';
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}
.fecha, .lugar{
    font-family: 'Belleza';
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    margin-top: 30px;
    text-align: center;
}
.lugar{
    margin-bottom: 40px;
}
.fiesta{
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 820px;
}
.fiesta h2{
    font-family: 'Cookie';
    font-size: 48px;
    text-align: center;
    margin-top: 40px;
}

.presencia{
    font-family: 'Belleza';
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    margin-top: 30px;
}
.separador{
   
    display: flex;
    align-self: center;
   
   
}

.separador img{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}
.botones{
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 580px;
    gap: 40px;
    margin-top: 40px;

}

.confirmar, .agendar, .cbu, .map{
   
    align-self: center;
    width: 280px;
    height: 70px;
    border-radius: 50px;
    font-family: 'Belleza';
    font-size: 24px;
    font-weight: bold;
    border: 5px solid #a6a381;
    cursor: pointer;
 
    
}
.confirmar:hover{
    background-color: #a6a381;
    color: white;
}

.agendar:hover{
    background-color: #a6a381;
    color: white;
}
.cbu:hover{
    background-color: #a6a381;
    color: white;
}
 .map:hover{
    background-color: #a6a381;
    color: white;
}


.regalo{
    display: flex;
    font-family: 'Belleza';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  
}

.mapa{
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Belleza';
    font-size: 24px;
    gap: 15px;
    margin-top: 30px;

}

.separador2{
    display: flex;
    align-self: center;
}
.separador2 img{
    width: 50px;
    height: 50px;
    margin-top: 30px;
   
}
#status {
    margin-top: 10px;
    margin-left: 65px;
    color:black;
    font-size: 24px;
    font-family: 'Belleza';
    display: none;
}
footer{
    width: 420px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Belleza';
}